<%- partial('_partial/head') %>
<body>
  <!-- 页面背景 -->
  <% if (theme.canvas_nest) { %>
    <script type="text/javascript" color="232,232,232" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
  <% } %>

  <div id="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
  <%- live2d() %>
  <!-- 页面点击小红心 -->
  <script type="text/javascript" src="/js/love.js"></script>
</body>
</html>